# ===================== Log config =====================
# Console log：True/False，options(DEBUG/INFO/WARNING/ERROR/CRITICAL)
LOG_CONSOLE_ENABLE=True
LOG_CONSOLE_LEVEL=ERROR

# Log config
# File log：True=enable/False=disable, level can be set independently from console
LOG_FILE_ENABLE=True
LOG_FILE_LEVEL=INFO
# Log file retention days (automatically delete expired logs to avoid full disk)
LOG_FILE_RETENTION=7 days